<div id="login-container">
    <div id="login-info-text">
        <h1>Task Manager</h1>
        <p><i>Platform for managing project tasks.</i></p>
    </div>
    <div id="login-form">
        <h1 id="login-form-title">Please sign in</h1>
        <div class="login-form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="login-username" />
            <p id="username-validation-text" class="validation-error"></p>
        </div>
        <div class="login-form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="login-password" />
            <p id="password-validation-text" class="validation-error"></p>
        </div>
        <div class="login-form-group">
            <button id="sign-in-btn">Sign in</button>
            <span>New to Task Manager?</span>
            <span><a id="registrationLink">Create an account.</a></span>
        </div>
    </div>
</div>