<div id="register">
  <h1>Sign Up</h1>
  <p>It`s free and only takes a minute</p>

  <div class="registerFields">
    <div>
      <label for="regFirstName">First Name</label>
      <input type="text" name="regFirstName" class="regFirstName" />
      <p class="firstName-validation-text validation-error"></p>
    </div>

    <div>
      <label for="regLastName">Last Name</label>
      <input type="text" name="regLastName" class="regLastName" />
      <p class="lastName-validation-text validation-error"></p>
    </div>

    <div>
      <label for="email">Email</label>
      <input type="text" name="email" class="regEmail" />
      <p class="email-validation-text validation-error"></p>
    </div>

    <div>
      <label for="mobileNumber">Mobile Number</label>
      <input type="text" name="mobileNumber" class="regMobileNumber" />
      <p class="phone-validation-text validation-error"></p>
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" name="password" class="regPassword" />
      <p class="register-password-validation validation-error"></p>
    </div>

    <div>
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" name="confirmPassword" class="confirmPassword" />
      <p class="confirm-password-validation validation-error"></p>
    </div>
  </div>

  <button class="regBtn">Sign Up</button>
  <p class="regText">
    Already have an account? <span><a id="loginLink">login here</a></span>
  </p>
</div>